.profile{
    display: flex;
}

.profileRight{
    flex: 9;
}

.profileCover{
    height: 320px;
    position: relative;
}

.profileCoverImg{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileUserImg{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 150px;
    border: 3px solid white;
}

.profileInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profileInfoName{
    font-size: 24px;
}

.profileInfoDesc{
    font-weight: 300;
}

.profileRightBottom{
    display: flex;
}
.inputProfilePic::-webkit-file-upload-button {
    visibility: hidden;
    
  }

  .inputProfilePic::before {
    content: '\221a';
    display: inline-block;
    
    border: 1px solid #999;
    border-radius: 3px;
    
    outline: none;
    white-space: nowrap;
    
    left: 53%;
    right: 0;
    width:10px;
    top: 150px;
   
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
    position: absolute;

  }
  .inputProfilePic:hover::before {
    border-color: black;
  }
  .inputProfilePic:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
  }
